body {
  text-align: center;
  font-family: sans-serif;
}

.container {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, 45%);
  gap: 1em;
}

.card {
  display: grid;
  place-content: center;
  background-color: lightgray;
  border-radius: 10px;
  padding: 1em;
}

.card form input {
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 10px;
  height: 2.5em;
  padding: 0.4em;
  padding-left: 1em;
  margin-bottom: 0.5em;
  width: 100%;
}

.card form button {
  border: none;
  border-radius: 10px;
  height: 2.3em;
  background-color: grey;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.7s linear;
}

.card form button:hover {
  background-color: lightgreen;
}

.value {
  margin: auto;
  margin-top: 0em;
  margin-bottom: 1.5em;
  width: 60%;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 4;
}

.circle {
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
  transition: stroke-dasharray 0.5s linear;
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4cc790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.circular-chart.yellow .circle {
  stroke: #e2e53c;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}
